<!DOCTYPE html>
<html>

    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>

        <% include ../partials/nav.ejs %>

        <main class="home">
            <div class="th-hero th-hero--zion">
                <div class="hero-content slds-text-align_center">
                    
                </div>
            </div>
            <div class="content">
                <div class="content-container">
                    <div class="grid-tiles">
                        <div class="slds-text-align_center">
                            <h3 class="th-text--x-large th-text--nexa-rust th-color--navy slds-m-top_xx-large slds-m-bottom_medium">
                                Blaze your trail
                            </h3>
                            <p class="th-color--navy th-text--medium">
                                Trails are guided learning paths that chart your course through Salesforce skills.
                            </p>

          <!--iframe src="https://calendar.google.com/calendar/embed?src=salesforce.com_4k6haivsgnqtri6naaugdd9b0g%40group.calendar.google.com&ctz=America%2FMexico_City" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe-->
          <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=salesforce.com_s7sc4bik4tsm4urd43k98473t0%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FMexico_City" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                        </div>
                        <div class="tile-grid tiles-container">
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>