<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <main class="home">
    <div class="th-hero th-hero--zion" style="height: 200px;">
      <div class="hero-content slds-text-align_center">
        <h1 class="th-hero__heading">¡Bienvenido a Salesforce!</h1>
      </div>
    </div>
    <br />
    <div class="slds-wrap">
        <div class="slds-col">
          <!--iframe src="https://calendar.google.com/calendar/embed?src=salesforce.com_4k6haivsgnqtri6naaugdd9b0g%40group.calendar.google.com&ctz=America%2FMexico_City" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe-->
          <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=salesforce.com_s7sc4bik4tsm4urd43k98473t0%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FMexico_City" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>

    <div class="th-careers">
      <div class="slds-text-align_center slds-p-horizontal_small">
        <h3 class="th-text--large th-text--nexa-rust th-color--navy slds-m-top_large slds-m-bottom_medium">
          Adquiere nuevas habilidades
        </h3>
        <p class="th-color--navy th-text--medium">
          Trailhead inspira el aprendizaje cont&iacute;nuo a lo largo de tu carrera.
        </p>
      </div>
      <div class="th-careers__headshots slds-grid slds-wrap">
        <div class="th-careers__headshot slds-grid slds-wrap">
          <figure>
            <img class="th-figure__image" src="https://trailhead.salesforce.com/assets/home/salesforce-admin-15b07906e0febc1eeb6aed2394ad3d24639a25987e9face816cca670f5e762cf.png" alt="Salesforce admin" />
          </figure>
          <figcaption class="th-figure__caption slds-m-top_small">
            <a>Administrador de Salesforce</a>
          </figcaption>
        </div>
        <div class="th-careers__headshot slds-grid slds-wrap">
          <figure>
            <img class="th-figure__image" src="https://trailhead.salesforce.com/assets/home/salesforce-developer-ff6f1ffc9f80c320d0217b024312a3103d917de81489d6a5cea5277e84ff4464.png" alt="Salesforce admin" />
          </figure>
          <figcaption class="th-figure__caption slds-m-top_small">
            <a>Desarrollador de Salesforce</a>
          </figcaption>
        </div>
        <div class="th-careers__headshot slds-grid slds-wrap">
          <figure>
            <img class="th-figure__image" src="https://trailhead.salesforce.com/assets/home/sales-manager-b545917e98320ce88d2bc1b5d218b9fbf65a9c41da5e04e8aa4fb7c8642e0167.png" alt="Salesforce admin" />
          </figure>
          <figcaption class="th-figure__caption slds-m-top_small">
            <a>Gerente de Ventas</a>
          </figcaption>
        </div>
        <div class="th-careers__headshot slds-grid slds-wrap">
          <figure>
            <img class="th-figure__image" src="https://trailhead.salesforce.com/assets/home/marketing-manager-9b0a75c932d3f1cc1132a86f70ac17ce50d25ede6c4e708f1e9d1cc65c781d79.png" alt="Salesforce admin" />
          </figure>
          <figcaption class="th-figure__caption slds-m-top_small">
            <a>Gerente de Marketing</a>
          </figcaption>
        </div>
        <div class="th-careers__headshot slds-grid slds-wrap">
          <figure>
            <img class="th-figure__image" src="https://trailhead.salesforce.com/assets/home/technical-architect-81439d650e5f868e86a4d471ce099f51c6c785e29245e63157ea5bb1068ba329.png" alt="Salesforce admin" />
          </figure>
          <figcaption class="th-figure__caption slds-m-top_small">
            <a>Arquitecto T&eacute;cnico</a>
          </figcaption>
        </div>
        <div class="th-careers__headshot slds-grid slds-wrap">
          <figure>
            <img class="th-figure__image" src="https://trailhead.salesforce.com/assets/home/business-analyst-57f471c12ac6b2bfd730629a11580dcd191c209cf8ec9c44c1b306a6e06d3be0.png" alt="Salesforce admin" />
          </figure>
          <figcaption class="th-figure__caption slds-m-top_small">
            <a>Analista de Negocio</a>
          </figcaption>
        </div>
      </div>
    </div>
    <div class="slds-brand-band slds-brand-band_medium">

    </div>
  </main>	

</body>
</html>
